<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Domino Count</title>
</head>
<body class="text-fourthcolor bg-firstcolor">
<main class="px-16 py-8">
<div> <!-- content wrapper -->
    <div id="title">
        <h1 class="text-4xl uppercase p-4">Domino Count</h1>
    </div>
    <button class="p-4 rounded-full bg-thirdcolor hover:bg-secondcolor border-4">
        <a href="/match/create">Contar nuevo juego</a>
    </button>
</div>
</main>
</body>
</html>