<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juego</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1>Juego</h1>
<div>
    <div>
        <h1> {{.Team1}}</h1>
        <h2> {{.Score1}}</h2>
    </div>
    <div>
        <h1> {{.Team2}}</h1>
        <h2> {{.Score2}}</h2>
    </div>
    <form action ="/match/{{ .Id }}" method="POST">
        <label for="team1_points">puntos {{.Team1}}:</label>
        <input type="number" id="team1_points" name="team1_points" value="0" >

        <label for="team2_points">puntos {{.Team2}}:</label>
        <input type="number" id="team2_points" name="team2_points" value="0"><br>
        <input type="submit" value="sumar puntos">
    </form>
</div>
</body>
</html>